/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 12 Aug, 2016, 10:46:01 AM
    Author     : sangn
*/
*{
            margin: 0px;
            padding: 0px;
  }
  
 
h1{
    background-color: skyblue;
    color:white;
    align-content: center;
    font-size:60px;
    
}
h2{
    background-color: skyblue;
    color:white;
    align-content: center;
    font-size:40px;
}
body {
  background-color:azure;  
}
button{
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    width: 200px;
    height: 60px;
}

.box {
    
    
    position:fixed;
    margin-left:-150px; /* half of width */
    margin-top:-150px;  /* half of height */
    top:40%;
    left:50%;
}
.box1 {
    
    
    position:fixed;
    margin-left:-150px; /* half of width */
    margin-top:-150px;  /* half of height */
    top:40%;
    left:30%;
}
input[type=text] {
   
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
}
input[type=password] {
   
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
}
input[type=submit]
{
    padding: 10px 15px;
    
}

div.left{
   width:25%;
   padding: 0 0 0 0;
}
div.right{
    width:70%;
    padding: 5% 0 0 0;
}
#right1{
    background-color:azure; 
}